name: cargo
on: [pull_request]
env:
  CARGO_TERM_COLOR: always

jobs:
 # check workspace for warnings & treat them as errors
  clippy:
    name: clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install toolchain
        uses: dsherret/rust-toolchain-file@v1
      - name: Clippy Check
        run: cargo clippy --all-targets -- -D warnings
          
  # check if workspace is formatted, and treat unformatted code as errors.
  fmt-check:
    name: fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install toolchain
        uses: dsherret/rust-toolchain-file@v1
      - name: Check Formatting
        run: cargo fmt --all -- --check
      - name: Install taplo-cli
        uses: baptiste0928/cargo-install@v2.2.0
        with:
          crate: taplo-cli
      - name: Run taplo linter
        run: taplo format --check --verbose

  cargo-test-workspace:
    name: test workspace crates
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install toolchain
        uses: dsherret/rust-toolchain-file@v1
      - name: Test Workspace
        run: cargo test --workspace --features mock_storage
